.popup {
    width: 720px;
    height: 698px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.property {
    width: 311px;
    height: 196px;
    background: #FFFFFF;
    border-radius: 18px;
    padding: 35px 18px;
}
.prop-img {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background: linear-gradient(180deg, #8BB928 0%, #45AE4D 100%);
    box-shadow: 0px 10px 40px #45AE4D;
}
.prop-text {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #313334;
}